/*

    Bundled css to use all over the project.

    <style>
        p {
            background-color: var(--theme-color);
        }
    </style>

*/

:root {
    --theme-color: transparent;
    --another-color: #275c7a;
}
